.text-center {
  text-align: right;
}


.menu-site .ant-tabs-bar {
  margin-top: 0 !important;
  border-top: 0 !important;
  height: 64px;
}

.menu-site .ant-tabs-nav .ant-tabs-tab {
  padding-top: 20px;
}

.logo img {
  max-height: 50px;
  max-width: 100%;
}

.menu-usuario {
  text-align: right;
}

.menu-mobile {
  display: none !important;
  text-align: right !important;
}

.ant-layout-header {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #ff8d00;
  -webkit-box-shadow: 0 2px 8px #ff8d00;
  box-shadow: 0 2px 8px #ff8d00;
  z-index: 10;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .menu-web {
    display: none !important;
    text-align: right !important;
  }

  .menu-mobile {
    display: block !important;
    text-align: right !important;
  }

  .ant-layout-header {
    padding: 0 0px !important;
  }
}

 /* ======== Botões e links ======== */
.buttonNav button {
  border-radius: 0;
  border-width: 1px;
  border-color: #ff8d00 !important;
  height: 35px;
  font-size: 16px;
  color: #ff8d00;
  background: white !important;
}

.buttonNav button:active {
  background: #ff8d0052 !important;
  box-shadow: inset 0 0 0 99999px #ff8d0052 !important;
}

.buttonNav button:hover {
  background: white !important;
  color: #ff8d00;
  box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
}

.buttonNav button:visited, .buttonNav a:visited {
  color: #ff8d00 !important;
  background: white !important;
}

.linkNav a:hover {
  text-decoration: none;
  color: #ff8d00;
}

.ant-dropdown-menu-item-active {
  background: #ff8d0052 !important;
  color: #ff8d00 !important;
}