.contentLayoutForm {
    text-align: left !important;
    background-color: ghostwhite !important;
}

.titleForm {
    color: #6f3e00 !important;
}

.dividerForm {
    top: -1em !important;
    background: #ff8d00;
    height: 2px;
}

.buttonForm button {
  border-radius: 0;
  height: 45px;
  font-size: 19px;
  color: #6f3e00;
  background: #ff8d00 !important;
  border: none !important;
}

.buttonForm button:active {
  background: #ff8d00 !important;
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.1) !important;
}

.buttonForm button:disabled {
  background: #ff8d00ad !important;
}

.buttonForm button:hover {
  background: #ff8d00 !important;
  color: #6f3e00;
  box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 400px) {
  .buttonForm button {
      width: 100%;
    }
}

  /* ======== Home ======== */
.mainFrameHome {
  background: #ff8d00 !important;
  margin-top: 30px;
  height: 610px;
}

.nameFrameHome {
  background: white !important;
  margin-top: 180px;
  padding-top: 3%;
  height: 250px;
  color: #5f008e;
  font-size: 100px;
  text-align: center;
  font-weight: 900;
}

.logoHome {
  margin-right: 20px;
}

@media only screen and (max-width: 400px) {
  .nameFrameHome {
    font-size: 60px;
    padding-top: 15%;
    }
  
  .logoHome {
    margin-right: 0px;
  }
}
